@{
    ViewBag.Title = "Home";
}


<div class="container site-content">
<img id="logo" src="~/Images/book_logo.png" alt="logo   />
</div>




<div class="row">




    <div class="col-sm-6">




        <h2 id="headline1" class="text-center headline">Your Personal Library App!</h2>
        <p class="text-center">
            Here you can add as many books as you like to your own virtual library.
        </p>
    </div>


    <div class="col-sm-6">

        <h2 id="headline2" class="text-center headline">Let's get started!</h2>
        <p class="text-center">
            Click on the My Library link at the top to start adding titles.
        </p>

         </div>
        

    
    </div>

<footer>
    <p>&copy; @DateTime.Now.Year - My Library App</p>
</footer>
