* {
    font-family: 'Play', sans-serif;
    margin: 0;
    padding:0;

}

body {
    height:100%;
    background-color: #d9e6e2;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top:90px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}




img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 400px;
    height: 400px;
    z-index: -1;
    padding: 30px;
    top: 20px;
    max-width: 100%;
    height: auto;
    padding-bottom: 100px;
}



h2 {
    margin-bottom: 20px;
    font-family: 'Play', sans-serif;
}


.headline {
    color: #fc4a1a;
}

#headline2 {
    color: #4abdac;
  
}

p {
    font-size:16px;
    
}

.libraryh2 {
    color: black;
}

td a {
    color:white;
}

.navbar-inverse .navbar-brand:hover {
    color: #fc4a1a;
}

body.site {
    min-height:100%

}

site-content {
    overflow: auto;
    padding-bottom:70px;
    height:2000px;

}

footer {
    color: #8a7a7a !important;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
