* {
    font-family: 'Roboto', sans-serif !important;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #d9e6e2;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top:30px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

footer {
    margin-top: 100px;
    display: block;
    width: 100%;
    text-align: center;
    bottom: 0;
    position: fixed;
    left: 0;
    color: #868686;
}



img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 400px;
    height: 400px;
    z-index: -1;
    padding: 30px;
    top: 20px;
    max-width: 100%;
    height: auto;
    padding-bottom: 100px;
}



h2 {
    margin-bottom: 20px;
}


.headline {
    color: #fc4a1a;
}

#headline2 {
    color: #4abdac;
  
}

p {
    font-size:16px;
    color:black;
}

.libraryh2 {
    color: black;
}

td a {
    color:white;
}

